[Desktop Entry]
Name=每日英语听力
Exec=eusoft-ting-en --force-device-scale-factor=1.5 %U
Terminal=false
Type=Application
Icon=eusoft-ting-en
StartupWMClass=每日英语听力
Comment=欧路软件 每日听力
MimeType=x-scheme-handler/eudic-ting;
Categories=Education;
